term=xterm-256color
title=foot
locked-title=yes
app-id=foot

font=Maple Mono NF:size=14
font-bold=Maple Mono NF:size=14
font-italic=Maple Mono NF:size=14
font-bold-italic=Maple Mono NF:size=14

[cursor]
style=block

[main]
include={{.chezmoi.homeDir}}/.config/foot/dank-colors.ini

[colors]
alpha=0.75
