include "includes/01-input.kdl"
include "includes/02-outputs.kdl"
include "includes/03-window-positioning.kdl"
include "includes/04-startup.kdl"
include "includes/05-overlay.kdl"
include "includes/06-csd.kdl"
include "includes/07-screenshot-path.kdl"
include "includes/08-animations.kdl"
include "includes/09-window-rules.kdl"
include "includes/10-binds.kdl"
include "/etc/niri/local.kdl"