// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration%3A-Introduction.html


// Add all config files for different categories here
// for example:
// include "my-new-file.kdl"
// Includes are positional. They will override options set prior to them. Window rules from included files will be inserted at the position of the include line.
include "input.kdl"
include "monitors.kdl"
include "layout.kdl"
include "autostart.kdl"
include "windowrules.kdl"
include "keybinds.kdl"
include "decorations.kdl"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
