// Syncing with all the DMS stuff :)
include optional=true "dms/alttab.kdl"
include optional=true "dms/binds.kdl"
include optional=true "dms/colors.kdl"
include optional=true "dms/layout.kdl"
include optional=true "dms/wpblur.kdl"
include optional=true "dms/outputs.kdl"

// you can add this to disable built in config load errors since dank shell provides this
config-notification {
    disable-failed
}

// You probably want this too for DMS
debug {
   honor-xdg-activation-with-invalid-serial
}

layer-rule {
    match namespace="quickshell"
    place-within-backdrop true
}

switch-events {
    lid-close { spawn "dms" "ipc" "call" "lock" "lock"; }
}
